.container {
  background: #46dcd4;
  padding: .5rem 0;
  .score {
    font-family: 'XY Score', 'DIN Alternate';
    color: #fff;
    font-size: .4rem;
    line-height: .4rem;
    margin-top: .48rem;
  }
  .append {
    color: #fff;
    font-size: .13rem;
    margin-top: .04rem;
  }
}